- content_for :title do
  Riak on Rails

%section#intro
  :markdown
    Ripple is a modeling layer for Riak, mapping Riak keys, values, and indexes to
    ActiveModel objects. It's inspired by ActiveRecord, DataMapper, and MongoMapper.

%section#basics
  %h2 tl;dr
  = snippet 'vehicle_tldr.rb'

%section#dependencies
  :markdown
    ## Dependencies

    Ripple requires Ruby 1.8.7 or later. It depends on `activemodel` 3.0, 3.1, or 3.2, 
    and the many gems (including `activesupport`) that `activemodel` depends on.

    Ripple uses the `riak-client` gem to connect to Riak.

    Use `bundler` to handle dependencies; put this in your `Gemfile`.

    #{snippet 'example_gem_file.rb'}
        
    Once you've configured that, run `bundle` and Ripple will be available.

    Rails applications will automatically load `ripple`. Non-Rails applications
    should `require "ripple"` at some point.

