- content_for :title do
  Secondary Indexes

%section#2i
  :markdown
    Riak allows you to put queryable attributes on an object. These attributes
    are called "secondary indexes," or "2i" for short.

    The Riak documentation describes how you might want to 
    [use secondary indexes](http://docs.basho.com/riak/latest/tutorials/querying/Secondary-Indexes/).
    In Riak 1.3.1 and newer, both the `eleveldb` and `memory` backends support
    2i. If you're using the `multi` backend, `eleveldb` and `memory` buckets 
    will support queries, while `bitcask` and `innostore` buckets won't.
