## MAC OS
.DS_Store

## TEXTMATE
*.tmproj
tmtags

## EMACS
*~
\#*
.\#*

## VIM
*.swp

## PROJECT::GENERAL
coverage/**/*
rdoc/**/*
pkg/**/*
tmp/**/*

## PROJECT::SPECIFIC
doc/*
.yardoc
.bundle
spec/support/test_server.yml
Gemfile.lock
**/bin
*.rbc
.rvmrc

.ripplenode
.riaktest
