# This is where the test server node will be generated. Something on
# /tmp is usually ok.
root: /tmp/riak-client-test-server

# This is where Riak is installed on your system, that is, the path to
# the 'riak' and 'riak-admin' scripts. I use a self-built node, but
# here's where it will generally be on various platforms:
#
#                Linux:  /usr/sbin
#  Solaris/OpenSolaris:  /opt/riak/bin
#  Mac OS/X (Homebrew):  /usr/local/bin
#    Source/Self built:  /path/to/your/install/rel/riak/bin
#
source: /Users/sean/Development/riak/rel/riak/bin
